#topbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

header {
  /* A way to use an image in a background: */
  background-image: url('/images/header.jpg');

  /* if we Google "css fill background with image", we find this: */
  background-size: cover;

  /* make the text white */
  color: white;

  /* make the element take up the entire height of the screen */
  height: 100vh;
}

#book form {
  display: grid;
  grid-template-areas:
    'destination destination'
    'from to'
    'guests guests'
    'submit submit';
  gap: 10px;
}

#book form .destination-select {
  grid-area: destination;
}

#book form .from {
  grid-area: from;
}

#book form .to {
  grid-area: to;
}

#book form .guests {
  grid-area: guests;
}

#book form .submit {
  grid-area: submit;
}

#book form .submit button {
  width: 100%;
}
