footer {
  background-color: #ffc107;
  padding-top: 20px;
  padding-bottom: 20px;
}

footer nav a {
  display: block;
}

@media (width >= 768px) {
  footer > .container-md {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}
